@media (min-width: 1536px){
    .calculate-content h1{
        width: 756px;
    }

    .calculate-content p{
        width: 756px;
    }
    .burger{
        display: none;
    }

    
}

@media (max-width: 1536px){
    .container{
        width: 1026px;
    }

    .calculate-h1{
        min-width: 996px;
    }

    .calculate-p{
        min-width: 996px;
    }

    .calculate-wrapper{
        flex-direction: column;
    }

    .calculate-form-wrapper{
        margin: 0 auto;
    }

    .calculate-form{
        margin-top: 40px;
    }

    .calculate-content-img{
        width: 100%;
    }
    .garant-catalog{
        flex-wrap: wrap;
    }

    .garant-cart img{
        padding-top: 24px;
    }

    #mediapadding{
        padding-left: 24px;
    }
    .burger{
        display: none;
    }

    .reviews-catalog-wrapper{
        width: 396px;
        height: 276px;
        max-height: 276px;
        padding: 16px 16px 0 16px;
    }

    .reviews-text{
        width: 364px;
        height: 186px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #111827;
    }

    .reviews-name{
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        color: #6B7280;
        padding-top: 0;
    }

    .reviews-catalog-down{
        
        display: flex;
        align-items: center;
        margin-top: 0px;
        justify-content: space-between;
    }




}

@media (max-width: 1026px){
    .container{
        width: 768px;
    }

    p.header-info{
        display: none;
    }

    .advan-catalog{
        margin: 0 auto;
    }

    .garant-catalog{
        flex-direction: column;
        justify-items: center;
    }

    .garant-cart{
        margin: 0 auto;
    }
    .calculate-h1{
        min-width: 738px;
    }

    .calculate-p{
        min-width: 738px;
    }
    #mediapadding{
        padding-left: 0;
    }
    .burger{
        display: none;
    }
    .garant-cart:last-child{
        padding-left: 0;
    }

    .reviews-catalog-wrapper:nth-child(3){
        display: none;
    }

    .reviews-catalog-wrapper{
        width: 570px;
        height: 224px;
        background-color: #F9FAFB;
        border-radius: 16px;
        padding: 32px 15px 0 15px;
    }

    .reviews-text{
        width: 540px;
        height: 112px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #111827;
    }
    .reviews-arrow{
        margin-top: 80px;
    }

}


@media(max-width:768px){
    .container{
        max-width:640px
    }

    .calculate-content h1{
        min-width: 600px;
        font-size: 30px;
    }
    .calculate-p{
        min-width: 610px;
    }


    p.header-info{
        display: none;
    }

    #info-header{
        display: none;
    }
    p.header-number{
        font-size: 19px;
        padding-top: 19px;
    }

    p.header-number-text{
        display: none;
    }

    h1#last{
        
    }

    p#last{
        
    }
    .calculate-form-text{
       
    }
    
    .header-wrapper{
        background-color: white;
    }

    .header{
        display: none;
    }

    .calculate{
        margin-top: 48px;
    }

    .garant-cart:last-child{
        padding-left: 0;
    }

/*burger-menu*/

    .burger{
        display: block;
        background-color: white;
        min-width: 640px;
    }
    
    .logo-burger h1{
        font-size: 18px;
    }

    .burger-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .burger-number{
        font-weight: 900;
        font-size: 20px;
    }

    .number{
        display: flex;
    }

    .burger-menu{
        align-items: center;
    }

/*span*/

.menu{
        display: flex;
    }

.menu li{
        margin: 0 25px 0 0;
        list-style: none;
    }

.menu li:last-child{
        margin: 0;
    }
    
.menu li a{
        text-decoration: none;
         color: #1f1f1f;
         line-height: 100%;
         font-family: "Jost", sans-serif;
         font-size: 16px;
         font-weight: 700;
    }

.burger__icon{
        width: 30px;
        height: 22px;
        position: relative;
        cursor: pointer;
        margin-left: 16px;
        margin-top: 8px;
    }

.burger__icon span, ::after, ::before{
        height: 1px;
        min-width: 100%;
        background-color: #1f1f1f;
        position: absolute;
        left: 0;
        transition: all .3s ease 0s;
    }
.burger__icon::after, &::before{
        content: '';
    }
.burger__icon span{
        top: calc(50% - 1px);
    }
.burger__icon::after{
        top: 0;
    }
.burger__icon::before{
        bottom: 0;
    }
.active span{
        transform: rotate(-45deg);
    }
.active::after{
            transform: rotate(45deg);
            top: calc(50% - 1px);
        }
.active::before{
            width: 0px;
        }

.burger__icon{
            display: block;
        }
.menu{
            position: fixed;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease 0s;
            height: 100%;
            width: 100%;
            background-color: #fff;
            flex-direction: column;
            padding: 30px;
}
.menu li{
    margin: 0 0 20px 0;
}

.menu.active{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.reviews-catalog-wrapper:nth-child(3){
    display: none;
}

.reviews-catalog-wrapper{
    width: 442px;
    height: 250px;
    background-color: #F9FAFB;
    border-radius: 16px;
    padding: 32px 16px 0 16px;
}

.reviews-text{
    width: 410px;
    height: 140px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #111827;
}

#last1{
    width: 300px;
    margin: 0 auto;
    padding-top: 0px;
}

#last{
    width: 350px;
    margin: 0 auto;
}

.calculate-form-text{
    margin: 0 auto;
    align-items: center;
    width: 350px;
    text-align: center;
    padding: 24px 0px 28px 0px;
}

}